:root {
    --primary-color: #e3e7d3;
    --secondary-color: #bdc2bf;
    --accent-color: #989c94;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: var(--primary-color);
    padding: 2rem 0 0;
    grid-column: 1 / 4;

}

h1 {
    padding: 0.5rem;
    color: black;
    margin-bottom: 1rem;
}

main {
    background: #e6e49f;
    grid-column: 1 / 3;
}

aside {
    background: white;
    grid-column: 3 / 4;
}

footer {
    background: var(--primary-color);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

main,
aside {
    padding: 1rem;
}

nav {
    margin: 0;
    width: 100%;
    background-color: var(--secondary-color);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}